body {
  background-color: rgba(38, 96, 38, 0.868);
  margin: 0p;
}

nav {
  display: flex;
  justify-content: center;
  background-color: rgb(168, 192, 172);
  margin-bottom: 50px;
}

h2 {
  font-size: 30px;
}

.card {
  margin-bottom: 0px;
}

.computer-side {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}